/* You can add global styles to this file, and also import other style files */

.logos {
    height: 400px;
    width: 90%;
}

.imgPro {
    height: 90%;
    width: 90%;
}

.cdsi,
#txtRojo {
    color: red;
}

#tituloRojo {
    color: red;
    font-weight: 1em;
    font-size: 1.5em;
}

.titulo {
    color: #0A0A83;
}

body {
    color: #010d14;
}