<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <header>
                    <div id="carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
                        <ol class="carousel-indicators ">
                            <li data-target="#carouselExampleIndicators " data-slide-to="0 " class="active "></li>
                            <li data-target="#carouselExampleIndicators " data-slide-to="1 "></li>
                            <li data-target="#carouselExampleIndicators " data-slide-to="2 "></li>
                        </ol>
                        <div class="carousel-inner " role="listbox ">
                            <!-- Slide One - Set the background image for this slide in the line below -->
                            <div class="carousel-item active text-center ">
                                <a href="?pagina=factu_electro ">
                                    <img class="img-thumbnail logos " src="./assets/images/factu_electro.png " />
                                </a>

                                <div class="carousel-caption d-none d-md-block ">

                                    <div class="row ">
                                        <div class="col-xs-4 col-md-4 ">
                                            <a href="# " data-toggle="modal " data-target="#g1-2 "> <img src="./assets/images/gra1-2.png " class="img-circle img-thumbnail " alt="Cinque Terre " width="50% " /> </a>
                                        </div>
                                        <div class="col-xs-4 col-md-4 ">
                                            <a href="# " data-toggle="modal " data-target="#g1-1 "> <img src="./assets/images/gra1-1.png " class="img-circle img-thumbnail " alt="Cinque Terre " width="50% " /> </a>
                                        </div>
                                        <div class="col-xs-4 col-md-4 ">
                                            <a href="# " data-toggle="modal " data-target="#g2-1 "> <img src="./assets/images/gra2-1.png " class="img-circle img-thumbnail " alt="Cinque Terre " width="50% " /> </a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="carousel-item text-center ">
                                <a href="?pagina=descrip_isaneg ">
                                    <img class="img-thumbnail logos " src="./assets/images/esquema_isaneg.png " />
                                </a>
                                <div class="carousel-caption d-none d-md-block ">

                                </div>
                            </div>

                            <div class="carousel-item text-center ">
                                <!--  <a href="?pagina=descrip_isaneg ">  -->
                                <img class="img-thumbnail logos " src="./assets/images/gra1-2.png " />
                                <!--  </a> -->
                                <div class="carousel-caption d-none d-md-block ">

                                </div>
                            </div>

                            <div class="carousel-item text-center ">
                                <!--  <a href="?pagina=descrip_isaneg "> -->
                                <img class="img-thumbnail logos " src="./assets/images/gra1-1.png " />
                                <!-- </a>  -->
                                <div class="carousel-caption d-none d-md-block ">

                                </div>
                            </div>

                            <div class="carousel-item text-center ">
                                <!--  <a href="?pagina=descrip_isaneg "> -->
                                <img class="img-thumbnail logos " src="./assets/images/gra2-1.png " />
                                <!--  </a> -->
                                <div class="carousel-caption d-none d-md-block ">

                                </div>
                            </div>



                        </div>
                        <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
                            <!--  <span class="carousel-control-prev-icon pasar " aria-hidden="true "></span>
                        <span class="sr-only ">Previous</span> -->
                            <i class="fa fa-arrow-circle-left fa-3x pasar " aria-hidden="true "></i>
                        </a>
                        <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
                            <!--  <span class="carousel-control-next-icon pasar " aria-hidden="true "></span>
                        <span class="sr-only ">Next</span> -->
                            <i class="fa fa-arrow-circle-right fa-3x pasar " aria-hidden="true "></i>
                        </a>


                    </div>

                </header>

            </div>
        </div>
    </div>
</div>